.todos{
    padding: 0;
    width: 15em;
}
.todos li {
    background-color: aqua;
    color: brown;
    padding: 4px;
    margin: 5px 20px;

}
.cross {
float: right;
background-color: royalblue;
padding: 0px 5px 0px 5px;
border-radius: 5%;
cursor: pointer;
color: white;
}